%a(href="")
  .group
    %p.group__group_name
      グループ1
    %p.group__last_message
      これが最後のテキスト
%a(href="")
  .group
    %p.group__group_name
      グループ2
    %p.group__last_message
      これが最後のテキスト