.main
  .main__header
    .main__container
      .btn_area
        = link_to "Edit",edit_group_path(@group), class:"btn" 
      .main__header_group
        %h1
          グループ名
        %ul
          %li
            Member：
          %li
            メンバー１
          %li
            メンバー２
          %li
            メンバ−３
          %li
            メンバー4
  .main__body
    .messages
      =render partial: "temp/message" 
    .form
      %form
        .input_box
        %input.form__message{ type: "text", placeholder: "type a message" }
        .form__mask
          %label.form__mask__image
            = fa_icon 'picture-o', class: 'icon'
            %input.hidden{type: 'file'}
        %input.form__submit{type: 'submit', value: 'Send'}