
.message
  .message__info.clearfix
    %p.message__info_upper_name
      ユーザー１
    %p.message__info_upper_date
      2019-02-01
  %p.message__text
    あああああああああああああああああああああああ
.message
  .message__info.clearfix
    %p.message__info_upper_name
      ユーザー１
    %p.message__info_upper_date
      2019-02-01
  %p.message__text
    あああああああああああああああああああああああ
.message
  .message__info.clearfix
    %p.message__info_upper_name
      ユーザー１
    %p.message__info_upper_date
      2019-02-01
  %p.message__text
    あああああああああああああああああああああああ
.message
  .message__info.clearfix
    %p.message__info_upper_name
      ユーザー１
    %p.message__info_upper_date
      2019-02-01
  %p.message__text
    あああああああああああああああああああああああ
.message
  .message__info.clearfix
    %p.message__info_upper_name
      ユーザー１
    %p.message__info_upper_date
      2019-02-01
  %p.message__text
    あああああああああああああああああああああああ
.message
  .message__info.clearfix
    %p.message__info_upper_name
      ユーザー１
    %p.message__info_upper_date
      2019-02-01
  %p.message__text
    あああああああああああああああああああああああ
